/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
$color-primary: #E12F2F;
$color-darkblue: #161d25;
$color-black: #1F1F1F;
$color-white: #ffffff;
$color-grey-30: #F5F5F5;
$color-grey-50: #E2E2E2;
$color-grey-80: #484848;
$color-error-dark: #ab0808;
$color-error-light: #f8cdcf;
$extraLargeDevices: 1140px;
$largeDevices: 960px;
$mediumDevices: 720px;
$smallDevices: 540px;

@mixin visually-hidden {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	/* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	/* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}


.wp-block-create-block-getresponse-form-block {
	color: $color-black;
	padding: 2px;
}

.lead-mail-form {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;

	.form-group {


		.alone-input-email {
			width: 100%;

			input {
				width: 100%;

			}
		}

		.hidden-label__field {
			label {
				@include visually-hidden;
			}
		}

		input {
			font-size: 1.2rem;
			padding: .5rem;
			background-color: transparent;
			box-sizing: border-box;

			&.error {
				border: 1px solid $color-error-dark;
			}

			&[type="text"] {
				border: 1px solid$color-black;
			}

			&[type="submit"] {
				background-color: $color-black;
				text-transform: uppercase;
				letter-spacing: .5px;
				color: $color-white;
				border: 1px solid $color-black;
				font-weight: 700;
				transition: all .2s;

				&:hover {
					background-color: $color-white;
					color: $color-black;
					border-color: $color-black;

				}

				&:focus {
					outline: 2px solid $color-darkblue;
					outline-offset: 2px;
				}
			}
		}

		@media (min-width: $largeDevices) {

			&.form-group__first {
				max-width: 700px;
			}



			input {
				font-size: 1rem;

				&[type="text"] {
					border: none;
					border-bottom: 2px solid $color-black;
				}

				&[type="submit"] {
					padding: .5rem 2rem;
				}
			}
		}
	}

	.form-group__first {
		display: grid;
		grid-template-columns: 1fr;
		/* Disposición en una sola columna para móviles */
		gap: 10px 0;
		/* Espaciado entre filas */
	}

	.form-field {
		display: flex;
		align-items: flex-start;

	}

	.form-field__hidden-fields {
		display: none;
	}

	.form-field__submit-button {
		input {
			width: 100%;
		}
	}

	.form-field__terms-conditions {
		input {
			margin-top: .2rem;

		}

		label {
			color: $color-grey-80;
			font-size: .9rem;
			padding-left: .3em;
		}
	}

	&[data-darktheme="false"] {
		.form-group {
			input {
				&[type="text"] {
					border: 1px solid $color-white;
				}

				&[type="submit"] {
					background-color: $color-white;
					color: $color-black;
					border: 1px solid $color-white;

					&:hover {
						background-color: $color-black;
						color: $color-white;
						border-color: $color-white;
					}

					&:focus {
						outline: 2px solid $color-white;
					}
				}
			}

			@media (min-width: $largeDevices) {
				input {
					&[type="text"] {
						border-bottom: 2px solid $color-white;
					}
				}
			}
		}

		.form-field__terms-conditions {
			label {
				color: $color-grey-30;

			}
		}


	}
}




/* Estilos para desktop */
@media (min-width: $largeDevices) {
	.lead-mail-form:not([data-rowalign="false"]) {
		.form-group__first {
			grid-template-columns: 1fr auto;
			/* Dos columnas: input en la primera, botón en la segunda */
			grid-template-rows: auto auto;
			/* Dos filas */
		}

		.form-field__email {
			grid-column: 1 / 2;
			/* El input de email ocupa la primera columna */
			grid-row: 1 / 2;
			/* Primera fila */
		}

		.form-field__terms-conditions {
			grid-column: 1 / -1;
			/* Checkbox ocupa ambas columnas */
			grid-row: 2 / 3;
			/* Segunda fila */
		}

		.form-field__submit-button {
			grid-column: 2 / 3;
			/* El botón de envío ocupa la segunda columna */
			grid-row: 1 / 2;
			/* Primera fila */
		}
	}

}

.lead-mail-form {
	.form-error-message {
		border: $color-error-dark;
		background-color: $color-error-light;
		color: $color-error-dark;
		padding: .5rem;
		width: fit-content;
		max-width: 100%;
		border-radius: 3px;
	}

	input {
		&.error {
			border-color: 1px solid $color-error-dark;
		}
	}
}