/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

$color-darkblue: #161d25;
$color-black: var(--wp--preset--color--black, #1F1F1F);
$color-white: var(--wp--preset--color--white, #ffffff);
$color-error-text: #ce0000;
$color-error-background: #ffecec;
$extraLargeDevices: 1140px;
$largeDevices: 960px;
$mediumDevices: 720px;
$smallDevices: 540px;

@mixin visually-hidden {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	/* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	/* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.sr-only {
	@include visually-hidden;
}


.wp-block-create-block-getresponse-form-block {
	color: $color-black;
	padding: 2px;

	.lead-mail-form {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;

		.form-error-message {
			padding: .5rem;
			width: fit-content;
			max-width: 100%;
			border-radius: 5px;
			background-color: $color-error-background;
			color: $color-error-text;
			margin-top: .5rem;
			white-space: pre-line;
			font-size: .9rem;
		}

		.form-group {


			.alone-input-email {
				width: 100%;

				input {
					width: 100%;

				}
			}

			.hidden-label__field {
				label {
					@include visually-hidden;
				}
			}

			input {
				font-size: 1.2rem;
				padding: .5rem;
				box-sizing: border-box;

				&.error:not([type="button"]) {
					border: 2px solid $color-error-text !important;

				}

				&[type="text"] {
					border: 1px solid $color-black;

				}

				&[type="button"] {
					text-transform: uppercase;
					letter-spacing: .5px;
					font-weight: 700;
					transition: all .2s;
					border-style: solid;

					&:hover {
						background-color: $color-white;
						color: $color-black;
						border-color: $color-black;

					}

					&:focus {
						outline: 2px solid $color-darkblue;
						outline-offset: 2px;
					}
				}
			}

			@media (min-width: $largeDevices) {

				input {
					font-size: 1rem;

					&[type="text"] {
						border: none;
						border-bottom: 2px solid $color-black;
					}

					&[type="button"],
					&[type="button"] {
						border-width:1px;
						padding: .5rem 2rem;
					}
				}
			}

			.dahlia-checkbox {
				&-input {
					position: absolute;
					opacity: 0;
					pointer-events: none;

					&:checked+.dahlia-checkbox-label .dahlia-checkbox-box {
						background-color: var(--wp--preset--color--primary);
						border-color: var(--wp--preset--color--primary);
						.dahlia-tick{
							opacity:1;
						}

						
					}
				}

				&-label {
					display: flex;
					align-items: center;
					cursor: pointer;
					user-select: none;
				}

				&-box {
					min-width: 1.3em;
					min-height: 1.3em;
					border: 1px solid;
					border-radius: 4px;
					background-color: white;
					margin-right: 0.5em;
					position: relative;
					display:flex;
					justify-content:center;
					align-items:center;
					transition: all 0.2s ease;
					.dahlia-tick {
						margin-top:-2px;
							width: 7px;
							height: 11px;
							border: solid;
							border-width: 0 3px 3px 0;
							transform: rotate(41deg);
							opacity:0
					}
				}
			}
		}

		.form-group__first {
			display: grid;
			grid-template-columns: 1fr;
			/* Disposición en una sola columna para móviles */
			gap: 10px 0;
			/* Espaciado entre filas */
		}

		.form-field {
			display: flex;
			align-items: flex-start;

		}

		.form-field__hidden-fields {
			display: none;
		}

		.form-field__submit-button {
			input {
				width: 100%;
			}
		}

		.form-field__terms-conditions {
			input {
				margin-top: .2rem;

			}

			label {
				font-size: .9rem;
				padding-left: .3em;
			}
		}
	}




	/* Estilos para desktop */
	@media (min-width: $largeDevices) {
		.lead-mail-form:not([data-rowalign="false"]) {
			.form-group__first {
				grid-template-columns: 1fr auto;
				/* Dos columnas: input en la primera, botón en la segunda */
				grid-template-rows: auto auto;
				/* Dos filas */
			}

			.form-field__email {
				grid-column: 1 / 2;
				/* El input de email ocupa la primera columna */
				grid-row: 1 / 2;
				/* Primera fila */
			}

			.form-field__terms-conditions {
				grid-column: 1 / -1;
				/* Checkbox ocupa ambas columnas */
				grid-row: 2 / 3;
				/* Segunda fila */
			}

			.form-field__submit-button {
				grid-column: 2 / 3;
				/* El botón de envío ocupa la segunda columna */
				grid-row: 1 / 2;
				/* Primera fila */
			}
		}

	}

	&.is-style-filled-input {
		.lead-mail-form {
			.form-group {
				input[type=text] {
					border-width: 1px;
					border: solid;
					border-radius: 5px;
					padding: 0.7rem;
					font-size: 1.1rem;
				}

				input[type=button] {
					border-width: 1px;
					border: solid;
					padding: 0.8rem 2rem 0.65rem;
					border-radius: 5px;
				}
			}
			&:not([data-rowalign=false]){
				.form-field__submit-button{
					margin-left: .5rem;
				}
			}
		}

	}
}